# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# packages
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/*.tar.bz

# my stuff
*~
.*~
*.o
*.la
*.a
*.cache
*.lo
*.log
*.plist
*.stamp
*.swp
*.trs
.deps/
.libs/
config.h
config.h.in
config.log
config.status
configure
/libtool
/Makefile
/lib/Makefile
/Documentation/Makefile
/pixmaps/Makefile
/desktop/Makefile
/etc/Makefile
/lib/libservice.a
/po/Makefile
/po/POTFILES
/src/Makefile
/man/Makefile
/scripts/Makefile

# my build-aux stuff
/build-aux/autoconf/
/build-aux/m4/libtool.m4
/build-aux/m4/ltoptions.m4
/build-aux/m4/ltsugar.m4
/build-aux/m4/ltversion.m4
/build-aux/m4/lt~obsolete.m4
/build-aux/m4/codeset.m4
/build-aux/m4/extern-inline.m4
/build-aux/m4/fcntl-o.m4
/build-aux/m4/gettext.m4
/build-aux/m4/glibc2.m4
/build-aux/m4/glibc21.m4
/build-aux/m4/iconv.m4
/build-aux/m4/intdiv0.m4
/build-aux/m4/intl.m4
/build-aux/m4/intldir.m4
/build-aux/m4/intlmacosx.m4
/build-aux/m4/intmax.m4
/build-aux/m4/inttypes-pri.m4
/build-aux/m4/inttypes_h.m4
/build-aux/m4/lcmessage.m4
/build-aux/m4/lib-ld.m4
/build-aux/m4/lib-link.m4
/build-aux/m4/lib-prefix.m4
/build-aux/m4/lock.m4
/build-aux/m4/longlong.m4
/build-aux/m4/nls.m4
/build-aux/m4/po.m4
/build-aux/m4/printf-posix.m4
/build-aux/m4/progtest.m4
/build-aux/m4/size_max.m4
/build-aux/m4/stdint_h.m4
/build-aux/m4/threadlib.m4
/build-aux/m4/uintmax_t.m4
/build-aux/m4/visibility.m4
/build-aux/m4/wchar_t.m4
/build-aux/m4/wint_t.m4
/build-aux/m4/xsize.m4

# po
po/*.gmo
po/*.header
po/*.mo
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/boldquot.sed
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
po/stamp-po
po/baalued.pot
